{%extends 'neighbourhood/base.html'%}
{% load bootstrap4 %}

         {% block content %}
          {{block.super}}


          {% for kijiji in kijijis%}


          <div class="card" style="width: 18rem;">
             <iframe src="https://www.google.com/maps/embed?pb=!1m10!1m8!1m3!1d15955.167680788112!2d36.77857126977539!3d-1.2996569500000017!3m2!1i1024!2i768!4f13.1!5e0!3m2!1sen!2ske!4v1539962190311" width="400" height="300" frameborder="0" style="border:0" allowfullscreen></iframe>

                  <div class="card-body">
                    <h1 class="card-text">{{ kijiji.location }}</h1>
                    <button type="button" class="btn btn-outline-primary"><a href="#">Join</a></button>

                </div>
            </div>
        {% endfor %}
         {% endblock %}
