{%extends 'neighbourhood/base.html'%}
{% load bootstrap4 %}
{% block content %}
<div class="jumbtron">
	<h2 class="title">{{ object.location }}</h2>
	 <p class="article-content">{{ object.description }}</p>
	 <p>Resident Count {{ object.profile | length }}</p>
   </div>
</div>
<div class="container">
<article class="news">
	<legend>Notice Board</legend>
	{% for new in object.news.all %}
        <span>{{ new.author}}
			<small class="text-muted">{{new.date_posted | date:"F d, Y" }}</small>
			</span>
		<p>{{ new.cation }}</p>
	{% endfor %}
</article>
</div>
<div class="container">
<article class="police">
	<legend>Ammenities</legend>
	{% for p in object.police.all %}
        <p>{{ p.station }}</p>
		<p>{{ p.contacts }}</p>
	{% endfor %}
	{% for h in object.hospital.all %}
        <p>{{ h.name }}</p>
		<p>{{ h.contacts }}</p>
	{% endfor %}
</article>
</div>
<div class="container">
<article class="business">
	<legend>Business</legend>
	{% for b in object.business.all %}
        <p>{{ b.name }}</p>
		<p>{{ b.details }}</p>
		<p>{{ b.contacts }}</p>
	{% endfor %}
</article>
</div>
<div class="container">
	<div class="container">
	<article class="business">
		<legend>Residents</legend>
		{% for p in object.profile.all %}
	        <p>{{ p.user}}</p>
			<p>{{ p.image }}</p>
		{% endfor %}
	</article>

</div>
{% endblock %}
